# Suunnittelutyökalut
.superpowers/

# Alkuperäiset suuret kuvatiedostot (ei tarvita verkkosivulla)
kasvitausta-2-wide.png
kasvitausta-1.png
kasvitausta-2.png
Esimerkkejä/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
